h1{
    color: blue;
    
}
body{
    background-color: rgb(228, 228, 228);
}
.button{
    background-color: rgb(3, 112, 3);
    color: white;
    padding: 15px 32px;
}
.content{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center;
}